<!DOCTYPE html>
<html>
  <head>
    <title>Com331Librarycheckout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <linksheet rel="stylesheet" href="//basehold.it/26" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
